body{
    margin:0;
    background:#ECEFF1;
    font-family:Arial, Helvetica, sans-serif;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#0D47A1;
    position:fixed;
    padding-top:20px;
}

.sidebar h3{
    color:white;
    text-align:center;
    margin-bottom:40px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    font-size:18px;
}

.sidebar a:hover{
    background:#E53935;
}

.content{
    margin-left:250px;
    padding:30px;
}

.card-dashboard{
    background:white;
    border-radius:15px;
    padding:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
    margin-bottom:20px;
}

.card-dashboard h5{
    color:#666;
}

.card-dashboard h2{
    color:#0D47A1;
    font-weight:bold;
}

.btn-primary{
    background:#0D47A1;
    border:none;
}

.btn-primary:hover{
    background:#093170;
}

.btn-danger{
    background:#E53935;
    border:none;
}

.table{
    background:white;
}

.form-control{
    border-radius:10px;
}

@media(max-width:768px){

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }

    .content{
        margin-left:0;
    }

}